.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: aqua;
}
.header img {

}

.nav {
    grid-area: n;
    background-color: yellow;
}

.content {
    grid-area: c;
    background-color: green;
}